# Ignorar carpetas de compilación
build/
dist/
*.spec

# Archivos de configuración locales
config.json

# Ignore logs folder
logs/

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
